{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    {{ parent() }} : Accueil Mairie
{% endblock %}

{% block body %}
    <h1>Mairies :</h1>

    <ul>
        {% for mairie in mairies %}
            <li>Mairie :{{ mairie.ville }}</li>
        {% endfor %}
    </ul> 

    <p><a href="{{ path('balkanistan_accueil') }}">retour</a> à la page d'accueil.</p>
    <p><i>page visitée {{ nbreFois }} fois.</i></p> 
{% endblock %}