{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    {{ parent() }} : Mairie {{ mairie.ville }}
{% endblock %}
{% block contenu %}
<ul>
    <li>ville {{ mairie.ville }}</li>
    <li>Candidats associés : </li>
    <ul>
        {% for politicien in mairie.politiciens %}
            <li>{{ politicien.nom }}</li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}