{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    {{ parent() }} : Mairie {{ mairie.ville }}
{% endblock %}
{% block contenu %}
<ul>
    <li>ville {{ mairie.ville }}</li>
</ul>
{% endblock %}