<!DOCTYPE html>
<html>
    <body>
        <div id="navigation" ><hr />
            <a href="{{ path('affaire_accueil') }}">accueil</a> -
            {{ render(path('affaire_navigation')) }} }}
        <hr /></div>
        <h1>{% block titre %}Affaires
            {% endblock %}
        </h1>
        <div id="contenu" >
            {% block contenu %}
            {% endblock %}
        </div>
        <hr />
        <div id="pied_de_page" >
            <p>&copy; DF.</p>
        </div>
    </body>
</html>