{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    {{ parent() }} : Affaire {{ affaire.designation }}
{% endblock %}
{% block contenu %}
<ul>
    <li>ville {{ affaire.designation }}</li>
</ul>
{% endblock %}