{% extends "affaire/layoutaffaire.html.twig" %}
{% block titre %}
    {{ parent() }} : Affaire {{ affaire.designation }}
{% endblock %}
{% block contenu %}
<ul>
    <li>Designation : {{ affaire.designation }}</li>
    <li>Politiciens associés : {{ affaire.Politiciens}} </li>
</ul>
{% endblock %}