{% extends "parti/layoutparti.html.twig" %}
{% block titre %}
    {{ parent() }} : Parti {{ parti.nom }}
{% endblock %}
{% block contenu %}
<ul>
    <li>Nom : {{ parti.nom }}</li>
    <li>politiciens associés : </li>
</ul>
{% endblock %}